@{
    ViewBag.Title = "FoodMenu (Home)";    
}

@Scripts.Render("~/bundles/jquery")

<div class="container">
    <div class="centro centro-lista">
        <h1 class="title text-center">Restaurantes</h1>
        <h2 class="text-center"><small>Clique em um restaurante para visualizar e editar.</small></h2>
        <div class="row pre-scrollable">
            <div class="col-md-12">
                <div id="listRestaurants" class="list-group"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetAllRestaurants", "Restaurant")',
            data: {

            },
            error: function () {

            },
            dataType: 'json',
            success: function (list) {

                var array = [];
                array.push(list);
                var lista = array[0];

                for (var i = 0; i < lista.length; i++) {

                    var url = '@Url.Action("Restaurant", "Restaurant")' + "?id=" + lista[i].IdRestaurant;
                    var restaurantLine = "<a href='"+ url+ "' id='" + lista[i].IdRestaurant + "' data-id='" + lista[i].IdRestaurant + "' class='list-group-item'>" + lista[i].NamRestaurant + "</a>";
                    $("#listRestaurants").append(restaurantLine);
                }

            },
            type: 'GET'
        });

    });
</script>
