






@*<div class="row">
        <div class="sortable-items" id="wrapper">
            <div id="if" class="module codeblockHeader">
                <p>if</p>
            </div>
            <div id="num" class="module codeblockHeader">
                <p>2</p>
            </div>
            <div id="else" class="module codeblock">
                <p>else</p>
            </div>
            <div id="four" class="module codeblock">
                <p>4</p>
            </div>
        </div>
    </div>*@

<hr />


<script>
    $(document).ready(function () {

        var sortablelist = $('.sortable-items');

        sortablelist.sortable({
            scroll: true,
            connectWith: ".sortable-items",
            update: function (event, ui) {
                var sortedIDs = $(".codeblock");



            }
        });
    });

    function btnSaveHeader_Click(event) {

        event.preventDefault();

        var LNamMenuHeader = $("#txtNamHeader").val();
        var LDesMenuHeader = $("#txtDesHeader").val();

         $.ajax({
            url: '@Url.Action("AddMenuHeader", "Menu")',
            data: {

                NamMenuHeader: LNamMenuHeader,
                DesMenuHeader: LDesMenuHeader,
                IDRestaurant: '@Model.IdRestaurant'

            },
            error: function () {

            },
            dataType: 'json',
            success: function () {

                alert("oitudobom");

            },
            type: 'GET'
        });
    }


    function btnSaveItem_Click(event) {

        event.preventDefault();

        var LNamMenuItem = $("#txtNamItem").val();
        var LDesMenuitem = $("#txtDesItem").val();
        var LPrecoItem = $("#txtPreco").val();

         $.ajax({
            url: '@Url.Action("AddMenuItem", "Menu")',
            data: {

                NamMenuItem: LNamMenuItem,
                DesMenuItem: LDesMenuitem,
                Price: LPrecoItem,
                IDRestaurant: '@Model.IdRestaurant'

            },
            error: function () {

            },
            dataType: 'json',
            success: function () {

                alert("oitudobom");

            },
            type: 'GET'
        });

    </script>
